my-header {
  display:block;
}

my-header nav{
  display: flex;
  align-content: flex-end;
  width: 100%;
}

my-header a{
  flex:1;

  display: inline-block;
  margin-left: 40px;
  font-family: sans-serif;
}
