product {
  display:flex;
  min-height:200px;
}
product .picture{
  background-color:#eee;
  display:inline-block;
  width:300px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

product .padded{
  padding:20px;
  border: 1px solid #ddd;
  width:100%;
}

product h1{
  margin: 0;
  font-size: 2em;
  font-weight: bolder;
  width:200px;
}
